.africa-color {
    color: #3436a5;
}

.south-america-color {
    color: #40a97d;
}

.asia-color {
    color:#6b0102;
}

.europe-color {
    color: #e4c341;
}

.north-america-color {
    color: green;
}

.australia-color {
    color: #a654ba;
}