.africa-color {
    color: blue;
}

.south-america-color {
    color: lightgreen;
}

.asia-color {
    color: red;
}

.europe-color {
    color: yellow;
}

.north-america-color {
    color: green;
}

.australia-color {
    color: purple;
}